<hr>
<footer class="footer navbar-fixed">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            {% comment %} <div class="col-md-6">
                <h4 class="title"><b>Footer Content</b></h4>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div> {% endcomment %}
            <!--/.First column-->
            <!--Second column-->
            {% comment %} <div class="col-md-6 text-center">
                <h5 class="title"><b>Links</b></h5>

                <a href="{% url 'home' %}">Accueil </a>|
                <a href="{% url 'about' %}">À propos</a> |&nbsp;


            </div> {% endcomment %}
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            {% comment %} © 2017 Copyright: <a href="http://127.0.0.1:8000/"> </a> {% endcomment %}
            <p class="m-4 text-center"><b>Copyright&copy;2022</b> Cellule d'Etudes, Planifications et Informatique</p>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<br>
